<head>
  <meta charset="utf-8">
  <title>TEST BREWMAP</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <div id='map' style='width: 1000px; height: 1000px;'></div>
  <script src="map.js"></script>
</body>
