<!-- <div id="map"></div> -->
<h1>BREWmaps</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @breweries %>
<%= page_entries_info @breweries %>
